<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form İşlemleri</title>
</head>
<body>
    <h1>Kullanıcı Formu</h1>
    <form method="POST">
        İsminiz: <input type="text" name="isim" required><br>
        Yaşınız: <input type="number" name="yas" required><br>
        Cinsiyet:
        <select name="cinsiyet">
            <option value="Erkek">Erkek</option>
            <option value="Kadın">Kadın</option>

        </select><br>
        E-mail: <input type="email" name="email" required><br>
        <input type="submit">
        <input type="reset">
         
    </form>
</body>
</html>