{% extends "base.html" %}

{% block title %}Şifreyi Sıfırla{% endblock %}

{% block content %}
    <h1 class="card-title text-center mb-4">{{ user.isim }} için Şifre Sıfırlama</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="yenisifre" class="form-label">Yeni Şifre:</label>
            <input type="password" class="form-control" id="yenisifre" name="yenisifre" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Şifreyi Güncelle</button>
    </form>
{% endblock %}